<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link rel="icon" type="image/png" href="/favicon.ico?v=5.1.4">
  <title>搜索结果</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="search">
    <div class="search__inner">
      <div class="search__prompt">搜索到 <%=items.length%> 篇相关日志。</div>
      <ul class="search__list">
        <%items.forEach(function(item){%>
          <li class="search__item">
            <a class="search__title" href="<%=item.articleUrl%>">
              <span><%-item.resultTitle%></span>
            </a>
            <a class="search__content" href="<%=item.articleUrl%>">
              <%-item.resultContent%>
            </a>
          </li>
          <%})%>
        </div>
    </ul>
  </div>
</body>
</html>
